<div class="pic">
    <img src="assets/pics/300x300/<%= picSrc %>" height="50px" width="50px"/>
    <input class="favorite" type="checkbox" <%= favorited ? 'checked="checked"' : '' %> />
    <label>Favorite</label>
    <input class="delete" type="checkbox" <%= deleted ? 'checked="checked"' : '' %> />
    <label>Deleted</label>
    <button class="destroy" type="button">Destroy</button>
    <label>Tags:</label>
<%= tagList %>
    <select class ='tag_choice' name="tag">
        <option value="van" selected>TagName</option>
    </select>
    <button class="add_tag" type="button">Add Tag</button>
    <button class="remove_tag" type="button">Remove Tag</button>
</div>
