<div class="tag">

  <button type="button" class="btn btn-sm white pull-left tag_icon">
    <span class="glyphicon glyphicon-tag <%= color %> tag_image"></span>
  </button>

  <!-- <span> tag <%= tagId %></%></span> -->

  <input type="text" class="tag_name_field pull-left tag_label form-control" value="<%= name %>"></input>

  <span class="pull-left tag_label">(<%= count %></>)</span>

  <button type="button" class="delete_tag_btn btn btn-sm white tag_icon">
      <span class="glyphicon glyphicon-remove"></span>
  </button>

  <div class="progress">
    <div class="progress-bar <%= color %>" role="progressbar" aria-valuenow="{{tag.count}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tag.count*100/numPics()}}%">
      <span class="sr-only">40% Complete (success)</span>
    </div>
  </div>

</div>