<div class="action-bar">
    <div class="count"><%= num_selected %> Selected</div>

    <button type="button" class="btn btn-sm deselectButton btn-cancel">Cancel</button>

    <form class="actions">
      <button type="button" class="btn btn-md white action-button" id="previewButton">
        <span class="glyphicon glyphicon-fullscreen"></span>
        <span >Preview</span>
      </button>
      <button type="button" class="btn btn-md white action-button" id="starButton">
        <span class="glyphicon glyphicon-star"></span>
        <span >Select</span>
      </button>
      <button type="button" class="btn btn-md white action-button" id="deleteButton">
        <span class="glyphicon glyphicon-trash"></span>
        <span >Remove</span>
      </button>
      <button type="button" class="btn btn-md white action-button" id="groupButton">
        <span class="glyphicon glyphicon-th"></span>
        <span >Group</span>
      </button>
      <button type="button" class="btn btn-md white action-button" id="tagButton">
        <span class="glyphicon glyphicon-tag"></span>
        <span >Tag</span>
      </button>
    </form>

    <button type="button" class="delete_tag_btn btn btn-sm white tag_icon deselectButton">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>