<div class="action-bar">
    <div class="count"><%= num_selected %> Selected</div>

    <button type="button" class="btn btn-sm deselectButton btn-cancel">Cancel</button>
    
    <form class="actions">
      <button type="button" class="action-button" id="previewButton">
        <span class="glyphicon glyphicon-fullscreen"></span>
        <span >Preview</span>
      </button>
      <button type="button" class="action-button" id="starButton">
        <span class="glyphicon glyphicon-star"></span>
        <span >Favorite</span>
      </button>
      <% if (!undelete_mode){ %>
      <button type="button" class="action-button" id="deleteButton">
        <span class="glyphicon glyphicon-trash"></span>
        <span >Delete</span>
      </button>
      <% }else{ %>
      <button type="button" class="action-button" id="undeleteButton">
        <span class="glyphicon glyphicon-home"></span>
        <span >Undelete</span>
      </button>
      <% } %>
      <button type="button" class="action-button" id="groupButton">
        <span class="glyphicon glyphicon-th"></span>
        <span >Group</span>
      </button>
      <button type="button" class="action-button" id="tagButton">
        <span class="glyphicon glyphicon-tag"></span>
        <span >Tag</span>
      </button>
    </form>

    <button type="button" class="deselectButton btn btn-x">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>