<div class="group">
    <button type="button" class="remove_group_button btn btn-sm tag_icon group_header_remove">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <img class="group-handle" src="http://www.picnicnetwork.org/images/drag_icon.png?1310488612" width="15px" style="opacity:0.4; position:relative;"/>
    <span class="group_name group_header" contenteditable="true"><%= name %></span>
    <!-- [Group <%= groupId %>]
    <% _.each(children, function(child) {print(child['type'][0] + ":" + child['value'] + ", "); }); %> -->
    <div>
        <ul class="pic_grid">
        </ul>
        <div class="float_clear"></div>
            <!-- <button class="add_pic_to_group orange-btn">Add Pic</button> -->
            <button id="add_subgroup_to_group" class="add_subgroup_to_group orange-btn">+ Subgroup</button>
        <div class="subgroups">
        </div>
        <div class="float_clear"></div>      
    </div>
</div>