<div class="modal fade preview_overlay" id="previewModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <% if(pics.length > 1) { %>
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <% _.each(pics, function(pic, index) {%>
                <% if(index == 0) { %>
                  <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="active"></li>
                <% } else { %>
                  <li data-target="#carousel-example-generic" data-slide-to="<%= index %>"></li>
                <% } %>
              <% }); %>
            </ol>
          <% } %>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% _.each(pics, function(pic, index) {%>

              <% if(index == 0) { %>
                <div class="item active">
              <% } else { %>
                <div class="item">
              <% } %>
                  <img src="assets/<%= pic.get('picSrc') %>" class="carousel_pic"/>
                  <div class="carousel-caption">
                  </div>
                </div>
              
            <% }); %>
            </div>

            <!-- Controls -->
            <% if(pics.length > 1) { %>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            <% } %>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>