/* Custom styles, compile to app.css  */

/***************************************
*              VARIABLES               *
***************************************/

// Grays

@white:         #FFFFFF;
@grayLightest:  #F7F7F7;
@grayLighter:   #EEEEEE;
@grayLight:     #DDDDDD;
@gray:          #BBBBBB;
@grayDark:      #777777;
@grayDarker:    #444444;
@grayDarkest:   #222222;
@black:         #000000;

// Colours

@orange:        #FF9933;

// Typography

@baseFontFamily:     'Lato', sans-serif;
@baseFontSize:       14px;

@baseFontColor:      @grayDarker;
@softFontColor:      @grayDark;


/***************************************
*             PAGE LAYOUT              *
***************************************/

// Basic page layout and default styles.

html {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 600px;
}

body {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 600px;
  padding: 0;
  margin: 0;
  background-color: @grayLightest;
  font-family: @baseFontFamily;
  font-weight: 300;
}

a {
  text-decoration: none
}

/***************************************
*                NAVBAR                *
***************************************/

// Top-level navbar.

.globalnav {
  background-color: @grayDarker;
  height: 80px; width: 100%;
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  .masthead {
    color: @white;
    position: relative;
    display: inline;
    font-size: 36px;
  }
}

.tags-panel-container {
  position: absolute;
  display: block;
  top: 80px; right: 0px;
  background-color: @grayDarker;
  height: 100%; width: 210px;
  border-left: solid 1px @grayDarker;
  .tags-panel {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background-color: @white;
    .heading-text {
      position: absolute;
      top: 20px; left: 20px;
      font-size: 28px;
      font-weight: 300;
      font-family: @baseFontFamily;
    }
    .add_tag_btn {
      background-color: @orange;
      position: absolute;
      top: 5px; left: 128px;
      width: 75px; height: 60px;
      &:hover {
        background-color: darken(@orange,10%);
      }
      span {
        display: block;
        padding-top: 3px;
      }
    }
    .tags {
      position: relative;
      top: 70px;
      .tag {
        position: relative;
        display: block;
        height: 70px; width: 100%;
        background-color: @white;
        border-top: solid 1px @grayLight;
        .progress {
          position: absolute;
          top: 48px; left: 10px;
          width: 140px; height: 10px;
          margin: 0; padding: 0;
          .black  { background-color: black;  }
          .orange { background-color: orange; }
          .blue   { background-color: blue;   }
          .red    { background-color: red;    }
          .green  { background-color: green;  }
          .yellow { background-color: yellow; }
        }
        .delete_tag_btn {
          color: @grayLight;
          &:hover {
            color: @gray;
          }
        }
      }
    }
  }
}

.actionbar_container {
  .action-bar {
    position: relative;
    top: 0; left: 0;
    display: block;
    height: 70px; width: 100%;
    background-color: @white;
    z-index: 999;
    .count {
      position: relative;
      top: 15px; left: 30px;
      font-size: 28px;
      color: @softFontColor;
    }
    .btn-cancel {
      position: absolute;
      top: 20px; left: 200px;
      background-color: @grayLight;
    }
    .actions {
      position: absolute;
      top: 0px; right: 100px;
      margin: 10px;
      .action-button {
        background-color: @grayLight;
        width: 60px; height: 50px;
        span {
          display: block;
          padding-top: 3px;
          color: @grayDark;
        }
        &:hover {
          background-color: @gray;
          span {
            color: @grayDarkest;
          }
        }
      }
    }
  }
}

.photos {
  position: relative;
  margin: 20px;
}

.main-panel {
  position: absolute;
  display: block;
  top: 80px; left: 0px;
  height: 100%; width: 80%;
  background-color: #F7F7F7;
}










/***** OLD STUFF *****/

.black{ color: black; }
.white{ color:white; }
.orange{ color: orange; }
.blue { color: blue; }
.red{ color: red; }
.green{ color: green; }
.yellow{ color: yellow; }

.modal-body{
  overflow: visible;
}

.brick.normal{
  width: 140px;
  height: 140px;
}

.brick.small{
  width: 80px;
  height: 80px;
}

.brick.large{
  width:300px;
  height:300px;
}

.brick.selected{
  width:300px;
  height: 300px;
}

.gridlyimage{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.gridly{
  position: relative;
}

.subgroup_gridly{
  margin-left: 50px;
}

#txt_search{
  display: block;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 2em;
  height: 40px;
}

.tag_icon {
  background-color: white;
}

.tag_icon .tag_image {
  font-size: 2em;
}

.tag_icon:focus .black {  color: black; }
.tag_icon:focus .orange { color: orange; }
.tag_icon:focus .blue {   color: blue; }
.tag_icon:focus .red {    color: red; }
.tag_icon:focus .green {  color: green; }
.tag_icon:focus .yellow { color: yellow; }

.tag_label{
  font-size: 1.5em;
  vertical-align: center;
  margin-left: 5px;
  margin-top: 5px;
  max-width: 100px;
  margin-bottom: 5px;
}

span.tag_label{
  max-width: 50px;
}

input.tag_label{
  border: 1px dashed black;
}

.add_tag_image{
  height: 25px;
}

.selected_image{
  border: 10px solid rgb(240,240,0);
}

.unselected_image{
  border:2px solid black;
}

.group_header{
  display: inline;
  font-size: 2.5em;
  border: 1px dashed black;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.subgroup_header{
  margin-left: 50px;
  font-size: 1.5em;
  border: 1px dashed black;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.group_header_remove{
  margin-bottom: 15px;
}

.subgroup_header_remove{
  margin-bottom: 10px;
}

.selected .thumb {
    border: 2px solid #0FF;
}

#preview_overlay_container {
    position:absolute;
    left:0;
    top:0;
    z-index:2000;
}

.preview_overlay {
    width:600px;
    height:600px;
    background-color:#CCC;    
}

.tag_overlay {
    width:600px;
    height:600px;
    background-color:#CCC;    
}

#tag_overlay_container {
    position: absolute;
    left:0; top:0;
    z-index: 2000;
}

.group_overlay {
    width:600px;
    height:600px;
    background-color:#CCC;    
}

#group_overlay_container {
    position:absolute;
    left:0;
    top:0;
    z-index:2000;
}

.filter_box {
    background-color: #EEE;
}

.pic_grid {
    position: relative;
    width: 900px;
}

.pic {
    height: 140px;
    width: 140px;
}

.pic_img {
    height: 140px;
    width: 140px;
}