/* Custom styles, compile to app.css  */
/***************************************
*              VARIABLES               *
***************************************/
/***************************************
*             PAGE LAYOUT              *
***************************************/
html {
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 500px;
}
body {
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 500px;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
body ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-track {
  background-color: #dddddd;
}
body ::-webkit-scrollbar-thumb {
  background-color: #222222;
}
.bottom-padding-div {
  height: 80px;
}
.drop-target {
  position: fixed;
  height: 100px;
  width: 100px;
  bottom: 0px;
  border-radius: 0px;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.drop-target.hover-over-target {
  height: 300px;
  width: 300px;
  opacity: 1.0;
}
.drop-target.favorite-target {
  left: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 40px;
  padding-top: 33px;
}
.drop-target.favorite-target.hover-over-target {
  border-top-right-radius: 300px;
}
.drop-target.delete-target {
  right: 220px;
  border-top-left-radius: 100px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 40px;
  padding-top: 33px;
}
.drop-target.delete-target.hover-over-target {
  border-top-left-radius: 300px;
}
.drop-target .target-icon {
  font-size: 30px;
}
.drop-target .target-text {
  font-size: 40px;
  display: none;
}
.carousel_pic {
  height: 400px !important;
  margin-left: auto;
  margin-right: auto;
}
.main-panel {
  position: absolute;
  display: block;
  top: 0px;
  left: -210px;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  padding-left: 210px;
  background-color: #F7F7F7;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
a {
  text-decoration: none;
}
/***************************************
*                NAVBAR                *
***************************************/
.topnav {
  background-color: #444444;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.topnav .static-topnav-left {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0;
}
.topnav .static-topnav-right {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 0;
}
.topnav .undo_redo_container {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  height: 80px;
}
.topnav .undo_redo_container .undo_redo_button_div {
  margin-top: 20px;
  margin-right: 10px;
}
.topnav .undo_redo_container .undo_redo_button_div .undo-btn,
.topnav .undo_redo_container .undo_redo_button_div .redo-btn {
  background-color: #222222;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 0px;
  font-size: 1em;
  text-align: center;
}
.tags-panel-container {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  padding-top: 80px;
  background-color: #444444;
  height: 100%;
  width: 210px;
  border-left: solid 1px #444444;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
}
.tags-panel-container .tags-panel {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.tags-panel-container .tags-panel .tag-heading {
  background-color: #ffffff;
  position: absolute;
  top: 15px;
  width: 210px;
  height: 80px;
}
.tags-panel-container .tags-panel .heading-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
.tags-panel-container .tags-panel .add_tag_btn {
  background-color: #ff9933;
  position: absolute;
  top: 10px;
  left: 51px;
  width: 75px;
}
.tags-panel-container .tags-panel .add_tag_btn:hover {
  background-color: #ff8000;
}
.tags-panel-container .tags-panel .add_tag_btn span {
  display: block;
  padding-top: 3px;
}
.tags-panel-container .tags-panel .tags {
  position: relative;
  top: 95px;
}
.tags-panel-container .tags-panel .tags .tag {
  position: relative;
  display: block;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  border-top: solid 1px #dddddd;
}
.tags-panel-container .tags-panel .tags .tag .progress {
  position: absolute;
  top: 48px;
  left: 10px;
  width: 140px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 0 !important;
}
.tags-panel-container .tags-panel .tags .tag .progress .blue {
  background-color: #8ae0ed;
}
.tags-panel-container .tags-panel .tags .tag .progress .red {
  background-color: #e28582;
}
.tags-panel-container .tags-panel .tags .tag .progress .green {
  background-color: #8bcb8b;
}
.tags-panel-container .tags-panel .tags .tag .progress .yellow {
  background-color: #fce380;
}
.tags-panel-container .tags-panel .tags .tag .delete_tag_btn {
  color: #dddddd;
  position: absolute;
  right: 2px;
}
.tags-panel-container .tags-panel .tags .tag .delete_tag_btn:hover {
  color: #bbbbbb;
}
#filter_container {
  position: fixed;
  top: 100px;
  right: 230px;
  display: block;
  height: 30px;
  z-index: 98;
}
#filter_container .glyphicon-tags {
  position: absolute;
  top: 5px;
  right: 380px;
  color: #dddddd;
  font-size: 24px;
}
.filter-field {
  display: block;
  height: 30px;
  width: 360px;
  padding: 10px 20px;
  border-radius: 30px;
  border: solid 1px #dddddd;
}
.filter-field:hover,
.filter-field:focus {
  outline: 0;
}
.target {
  position: fixed;
  display: block;
  bottom: 100px;
  width: 70px;
  height: 70px;
  z-index: 98;
}
.target.select {
  right: 300px;
}
.target.delete {
  right: 250px;
}
.toast_div {
  position: fixed;
  padding: 10px 40px !important;
  bottom: 15px;
  left: 35%;
}
.actionbar_container {
  height: 50px;
}
.actionbar_container .action-bar {
  position: fixed;
  top: 80px;
  left: 5px;
  display: block;
  height: 70px;
  width: 55%;
  background-color: #ffffff;
  z-index: 99;
}
.actionbar_container .action-bar .count {
  position: relative;
  display: inline;
  top: 15px;
  left: 30px;
  font-size: 28px;
  color: #777777;
}
.actionbar_container .action-bar .btn-cancel {
  position: absolute;
  top: 20px;
  left: 200px;
  background-color: #dddddd;
}
.actionbar_container .action-bar .btn-x {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #dddddd;
}
.actionbar_container .action-bar .btn-x:hover {
  color: #bbbbbb;
}
.actionbar_container .action-bar .actions {
  position: absolute;
  top: 0px;
  right: 60px;
  margin: 10px;
}
.actionbar_container .action-bar .actions .action-button {
  background-color: #eeeeee;
  width: 64px;
  height: 50px;
  border: 0;
}
.actionbar_container .action-bar .actions .action-button span {
  display: block;
  padding-top: 3px;
  color: #777777;
}
.actionbar_container .action-bar .actions .action-button:hover {
  background-color: #dddddd;
}
.actionbar_container .action-bar .actions .action-button:hover span {
  color: #222222;
}
.photos {
  position: relative;
  margin: 20px;
}
.group {
  position: relative;
  display: block;
  padding: 20px;
}
.group .remove_group_button {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 20px;
  left: -15px;
  color: #bbbbbb;
}
.group .remove_group_button:hover {
  color: #999;
}
.group .pic_grid {
  margin-top: 20px;
}
/***** OLD STUFF *****/
.blue {
  color: #8ae0ed;
}
.red {
  color: #e28582;
}
.green {
  color: #8bcb8b;
}
.yellow {
  color: #fce380;
}
.modal-body {
  overflow: visible;
}
.brick.normal {
  width: 140px;
  height: 140px;
}
.brick.small {
  width: 80px;
  height: 80px;
}
.brick.large {
  width: 300px;
  height: 300px;
}
.brick.selected {
  width: 300px;
  height: 300px;
}
.gridlyimage {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.gridly {
  position: relative;
}
.subgroup_gridly {
  margin-left: 50px;
}
.tag_icon {
  background-color: white;
  height: 30px;
}
.tag_icon .tag_image {
  font-size: 1.5em;
  top: 5px;
}
.tag_icon:focus .black {
  color: black;
}
.tag_icon:focus .orange {
  color: orange;
}
.tag_icon:focus .blue {
  color: blue;
}
.tag_icon:focus .red {
  color: red;
}
.tag_icon:focus .green {
  color: green;
}
.tag_icon:focus .yellow {
  color: yellow;
}
.tag_label {
  font-size: 1em;
  vertical-align: center;
  margin-left: 5px;
  margin-top: 5px;
  max-width: 120px;
  margin-bottom: 5px;
}
span.tag_label {
  position: absolute;
  top: 37px;
  left: 155px;
  color: #bbb;
}
input.tag_label {
  border: 1px dashed #dddddd;
  width: 105px;
}
.add_tag_image {
  height: 25px;
}
.selected_image {
  border: 10px solid #f0f000;
}
.unselected_image {
  border: 2px solid black;
}
.group_header {
  display: inline;
  font-size: 21px;
  border: 1px dashed #dddddd;
  padding: 10px;
  margin-top: 10px;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
}
.group_header:hover,
.group_header:focus {
  outline: 0;
}
.subgroup_header {
  margin-left: 50px;
  font-size: 1.5em;
  border: 1px dashed #dddddd;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}
.group_header_remove {
  margin-bottom: 15px;
}
.subgroup_header_remove {
  margin-bottom: 10px;
}
.preview_overlay {
  max-width: 1200px;
  max-height: 600px;
  overflow: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.preview_imgs {
  position: relative;
}
.preview_imgs img {
  position: absolute;
  top: 0;
  left: 0;
}
.pic_grid {
  position: relative;
  width: 90%;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  width: 336px;
  margin-top: -1px;
  margin-left: 12px;
  padding: 0;
  background-color: #fff;
  border: solid 1px #ddd;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tt-suggestion {
  padding: 5px 10px 4px 10px;
  line-height: 24px;
}
.tt-suggestion.tt-cursor {
  background-color: #3399FF;
  color: white;
}
.tt-suggestion p {
  margin: 0;
}
.pic_img {
  height: 100%;
  width: 100%;
}
.group .pic {
  display: inline-block;
  position: relative;
  margin: 1px;
}
.group .pic .glyphicon-star,
.group .pic .glyphicon-star-empty {
  position: absolute;
  color: #ffffff;
}
.group .pic .glyphicon-star:hover,
.group .pic .glyphicon-star-empty:hover {
  cursor: pointer;
}
.group .pic .glyphicon-star-empty {
  opacity: 0.4;
  transition: opacity 0.2s;
}
.group .pic .glyphicon-star-empty:hover {
  opacity: 1.0;
}
.pic_target {
  display: inline-block;
  position: relative;
  margin: 1px;
  border: dotted 1px #bbb;
  top: 50px;
  left: 0px;
  -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}
.group {
  margin-left: 0px;
  border-bottom: solid 1px #dddddd;
}
.group .pic,
.group .pic_target {
  height: 140px;
  width: 140px;
}
.group .selected .thumb {
  border: 8px solid #3399FF;
}
.group .pic_target {
  top: 67px;
}
.group .glyphicon-star,
.group .glyphicon-star-empty {
  top: 12px;
  left: 12px;
  font-size: 16px;
}
.group .group {
  margin-left: 51px;
  border-bottom: 0;
}
.group .group .pic,
.group .group .pic_target {
  height: 069px;
  width: 069px;
}
.group .group .selected .thumb {
  border: 4px solid #3399FF;
}
.group .group .pic_target {
  top: 32px;
}
.group .group .glyphicon-star,
.group .group .glyphicon-star-empty {
  top: 6px;
  left: 6px;
  font-size: 12px;
}
.group .group .group_header {
  font-size: 18px;
}
.group .group .remove_group_button {
  top: 19px;
}
.group .group .group {
  margin-left: 51px;
  border-bottom: 0;
}
.group .group .group .pic,
.group .group .group .pic_target {
  height: 034px;
  width: 034px;
}
.group .group .group .selected .thumb {
  border: 2px solid #3399FF;
}
.group .group .group .pic_target {
  top: 14px;
}
.group .group .group .glyphicon-star,
.group .group .group .glyphicon-star-empty {
  top: 4px;
  left: 4px;
  font-size: 8px;
}
.group .group .group .orange-btn {
  display: none;
}
.group .group .group .group_header {
  font-size: 15px;
}
.group .group .group .remove_group_button {
  top: 18px;
}
.orange-btn {
  margin-top: 10px;
  margin-left: 70px;
  border: 0;
  background-color: #ddd;
  color: white;
  font-weight: 400;
  padding: 8px 12px;
}
.orange-btn:hover {
  background-color: #c4c4c4;
}
.orange-btn#add-group {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #ff9933;
}
.orange-btn#add-group:hover {
  background-color: #ff8000;
}
.orange-btn.add_tag_btn {
  background-color: #ff9933;
}
button:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #ddd !important;
}
.form-control {
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.progress-bar {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
