/* app css stylesheet */

#navbar{
  background-color: rgb(72,72,72);
}

.gray_button{
  background-color: rgb(100,100,100);
}

.gray_button span{
  display: block;
  padding-top: 3px;
}

.gray_button:hover{
  background-color: black;
}

.gray_button:hover span, .btn:focus span{
  color: white;
}

.gray_button {
  width: 75px;
}

.white{
  color:white;
}

.orange{
  color: orange;
}

.blue {
  color: blue;
}

.red{
  color: red;
}

.green{
  color: green;
}

.yellow{
  color: yellow;
}