/* app css stylesheet */
.app_title_header{
  display: inline; font-size:3.5em; color: white; margin-top:10px; margin-left:5px;
}

#navbar{
  background-color: rgb(72,72,72);
}

.gray_button{
  background-color: rgb(100,100,100);
  width: 75px;
}

.gray_button span{
  display: block;
  padding-top: 3px;
}

.gray_button:hover{
  background-color: black;
}

.gray_button:hover span, .btn:focus span{
  color: white;
}

.orange_button{
  background-color: orange;
  width: 75px;
  height: 60px;
  margin-right: 5px;
  margin-top: 5px;
}

.orange_button span{
  display: block;
  padding-top: 3px;
}

.orange_button:hover{
  background-color: black;
}

.orange_button:hover span, .btn:focus span{
  color: white;
}

.black{
  color: black;
}

.white{
  color:white;
}

.orange{
  color: orange;
}

.blue {
  color: blue;
}

.red{
  color: red;
}

.green{
  color: green;
}

.yellow{
  color: yellow;
}