/* Custom styles, compile to app.css  */
/***************************************
*              VARIABLES               *
***************************************/
/***************************************
*             PAGE LAYOUT              *
***************************************/
html {
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 500px;
}
body {
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 500px;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.main-panel {
  position: absolute;
  display: block;
  top: 0px;
  left: -210px;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  padding-left: 210px;
  background-color: #F7F7F7;
  overflow-y: auto;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/***************************************
*                NAVBAR                *
***************************************/
.globalnav {
  background-color: #444444;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.globalnav .masthead {
  color: #ffffff;
  position: relative;
  display: inline;
  font-size: 36px;
}
.tags-panel-container {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  padding-top: 80px;
  background-color: #444444;
  height: 100%;
  width: 210px;
  border-left: solid 1px #444444;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
}
.tags-panel-container .tags-panel {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.tags-panel-container .tags-panel .heading-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
.tags-panel-container .tags-panel .add_tag_btn {
  background-color: #ff9933;
  position: absolute;
  top: 5px;
  left: 128px;
  width: 75px;
  height: 60px;
}
.tags-panel-container .tags-panel .add_tag_btn:hover {
  background-color: #ff8000;
}
.tags-panel-container .tags-panel .add_tag_btn span {
  display: block;
  padding-top: 3px;
}
.tags-panel-container .tags-panel .tags {
  position: relative;
  top: 70px;
}
.tags-panel-container .tags-panel .tags .tag {
  position: relative;
  display: block;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  border-top: solid 1px #dddddd;
}
.tags-panel-container .tags-panel .tags .tag .progress {
  position: absolute;
  top: 48px;
  left: 10px;
  width: 140px;
  height: 10px;
  margin: 0;
  padding: 0;
}
.tags-panel-container .tags-panel .tags .tag .progress .black {
  background-color: black;
}
.tags-panel-container .tags-panel .tags .tag .progress .orange {
  background-color: orange;
}
.tags-panel-container .tags-panel .tags .tag .progress .blue {
  background-color: blue;
}
.tags-panel-container .tags-panel .tags .tag .progress .red {
  background-color: red;
}
.tags-panel-container .tags-panel .tags .tag .progress .green {
  background-color: green;
}
.tags-panel-container .tags-panel .tags .tag .progress .yellow {
  background-color: yellow;
}
.tags-panel-container .tags-panel .tags .tag .delete_tag_btn {
  color: #dddddd;
}
.tags-panel-container .tags-panel .tags .tag .delete_tag_btn:hover {
  color: #bbbbbb;
}
#search_div {
  position: absolute;
  top: 100px;
  right: 20px;
  display: block;
  height: 70px;
  z-index: 98;
}
#txt_search {
  display: block;
  height: 40px;
  width: 300px;
}
.actionbar_container {
  height: 70px;
}
.actionbar_container .action-bar {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
}
.actionbar_container .action-bar .count {
  position: relative;
  display: inline;
  top: 15px;
  left: 30px;
  font-size: 28px;
  color: #777777;
}
.actionbar_container .action-bar .btn-cancel {
  position: absolute;
  top: 20px;
  left: 200px;
  background-color: #dddddd;
}
.actionbar_container .action-bar .btn-x {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #dddddd;
}
.actionbar_container .action-bar .btn-x:hover {
  color: #bbbbbb;
}
.actionbar_container .action-bar .actions {
  position: absolute;
  top: 0px;
  right: 60px;
  margin: 10px;
}
.actionbar_container .action-bar .actions .action-button {
  background-color: #eeeeee;
  width: 64px;
  height: 50px;
  border: 0;
}
.actionbar_container .action-bar .actions .action-button span {
  display: block;
  padding-top: 3px;
  color: #777777;
}
.actionbar_container .action-bar .actions .action-button:hover {
  background-color: #dddddd;
}
.actionbar_container .action-bar .actions .action-button:hover span {
  color: #222222;
}
.photos {
  position: relative;
  margin: 20px;
}
/***** OLD STUFF *****/
.black {
  color: black;
}
.white {
  color: white;
}
.orange {
  color: orange;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.modal-body {
  overflow: visible;
}
.brick.normal {
  width: 140px;
  height: 140px;
}
.brick.small {
  width: 80px;
  height: 80px;
}
.brick.large {
  width: 300px;
  height: 300px;
}
.brick.selected {
  width: 300px;
  height: 300px;
}
.gridlyimage {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.gridly {
  position: relative;
}
.subgroup_gridly {
  margin-left: 50px;
}
.tag_icon {
  background-color: white;
}
.tag_icon .tag_image {
  font-size: 2em;
}
.tag_icon:focus .black {
  color: black;
}
.tag_icon:focus .orange {
  color: orange;
}
.tag_icon:focus .blue {
  color: blue;
}
.tag_icon:focus .red {
  color: red;
}
.tag_icon:focus .green {
  color: green;
}
.tag_icon:focus .yellow {
  color: yellow;
}
.tag_label {
  font-size: 1.5em;
  vertical-align: center;
  margin-left: 5px;
  margin-top: 5px;
  max-width: 100px;
  margin-bottom: 5px;
}
span.tag_label {
  max-width: 50px;
}
input.tag_label {
  border: 1px dashed black;
}
.add_tag_image {
  height: 25px;
}
.selected_image {
  border: 10px solid #f0f000;
}
.unselected_image {
  border: 2px solid black;
}
.group_header {
  display: inline;
  font-size: 2.5em;
  border: 1px dashed black;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}
.subgroup_header {
  margin-left: 50px;
  font-size: 1.5em;
  border: 1px dashed black;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}
.group_header_remove {
  margin-bottom: 15px;
}
.subgroup_header_remove {
  margin-bottom: 10px;
}
.selected .thumb {
  border: 2px solid #0FF;
}
#preview_overlay_container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
}
.preview_overlay {
  width: 600px;
  height: 600px;
  background-color: #CCC;
}
.tag_overlay {
  width: 600px;
  height: 600px;
  background-color: #CCC;
}
#tag_overlay_container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
}
.group_overlay {
  width: 600px;
  height: 600px;
  background-color: #CCC;
}
#group_overlay_container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
}
.filter_box {
  background-color: #EEE;
}
.pic_grid {
  position: relative;
  width: 900px;
}
.pic {
  height: 140px;
  width: 140px;
}
.pic_img {
  height: 140px;
  width: 140px;
}