/* Custom styles, compile to app.css  */

/***************************************
*              VARIABLES               *
***************************************/

// Grays

@white:         #FFFFFF;
@grayLightest:  #F7F7F7;
@grayLighter:   #EEEEEE;
@grayLight:     #DDDDDD;
@gray:          #BBBBBB;
@grayDark:      #777777;
@grayDarker:    #444444;
@grayDarkest:   #222222;
@black:         #000000;

// Colours

@orange:        #FF9933;

// Typography

@baseFontFamily:     'Lato', sans-serif;
@baseFontSize:       14px;

@baseFontColor:      @grayDarker;
@softFontColor:      @grayDark;


/***************************************
*             PAGE LAYOUT              *
***************************************/

// Basic page layout and default styles.

html {
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 500px;
}

body {
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 500px;
  padding: 0;
  margin: 0;
  background-color: @grayLightest;
  font-family: @baseFontFamily;
  font-weight: 300;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: @grayLight; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: @grayDarkest;
  }

}

.main-panel {
  position: absolute;
  display: block;
  top: 0px; left: -210px;
  height: 100%; width: 100%;
  padding-top: 80px;
  padding-left: 210px;
  background-color: #F7F7F7;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none
}

/***************************************
*                NAVBAR                *
***************************************/

// Top-level navbar.

.topnav {
  background-color: @grayDarker;
  height: 80px; width: 100%;
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  .static-topnav-left {
    position: absolute;
    top: 0px; left: 0px;
    border: 0;
  }
  .static-topnav-right {
    position: absolute;
    top: 0px; right: 0px;
    border: 0;
  }
}

.tags-panel-container {
  position: absolute;
  display: block;
  top: 0px; right: 0px;
  padding-top: 80px;
  background-color: @grayDarker;
  height: 100%; width: 210px;
  border-left: solid 1px @grayDarker;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
  .tags-panel {
    position: absolute;
    top: 80px; left: 0;
    width: 100%;
    background-color: @white;
    .heading-text {
      position: absolute;
      top: 15px; left: 20px;
      font-size: 28px;
      font-weight: 300;
      font-family: @baseFontFamily;
    }
    .add_tag_btn {
      background-color: @orange;
      position: absolute;
      top: 5px; left: 128px;
      width: 75px; height: 60px;
      &:hover {
        background-color: darken(@orange,10%);
      }
      span {
        display: block;
        padding-top: 3px;
      }
    }
    .tags {
      position: relative;
      top: 70px;
      .tag {
        position: relative;
        display: block;
        height: 70px; width: 100%;
        background-color: @white;
        border-top: solid 1px @grayLight;
        .progress {
          position: absolute;
          top: 48px; left: 10px;
          width: 140px; height: 10px;
          margin: 0; padding: 0;
          .black  { background-color: black;  }
          .orange { background-color: orange; }
          .blue   { background-color: blue;   }
          .red    { background-color: red;    }
          .green  { background-color: green;  }
          .yellow { background-color: yellow; }
        }
        .delete_tag_btn {
          color: @grayLight;
          &:hover {
            color: @gray;
          }
        }
      }
    }
  }
}

#filter_container {
  position: fixed;
  top: 100px; right: 230px;
  display: block;
  height: 30px;
  z-index: 98;
  .glyphicon-tags {
    position: absolute;
    top: 5px; right: 380px;
    color: @grayLight;
    font-size: 24px;
  }


}

.filter-field {
  display: block;
  height: 30px;
  width: 360px;
  padding: 10px 20px;
  border-radius: 30px;
  border: solid 1px @grayLight;
  &:hover, &:focus {
    outline: 0;
  }
}

.target {
  position: fixed;
  display: block;
  bottom: 100px;
  width: 70px; height: 70px;
  z-index: 98;
  &.select {
    right: 300px; 
  }
  &.delete {
    right: 250px;
  }
}


.actionbar_container {
  height: 50px;
  .action-bar {
    position: relative;
    top: 0; left: 0;
    display: block;
    height: 70px; width: 100%;
    background-color: @white;
    z-index: 99;
    .count {
      position: relative;
      display: inline;
      top: 15px; left: 30px;
      font-size: 28px;
      color: @softFontColor;
    }
    .btn-cancel {
      position: absolute;
      top: 20px; left: 200px;
      background-color: @grayLight;
    }
    .btn-x {
      position: absolute;
      top: 20px; right: 20px;
      background-color: @white;
      color: @grayLight;
      &:hover {
        color: @gray;
      }
    }
    .actions {
      position: absolute;
      top: 0px; right: 60px;
      margin: 10px;
      .action-button {
        background-color: @grayLighter;
        width: 64px; height: 50px;
        border: 0;
        span {
          display: block;
          padding-top: 3px;
          color: @grayDark;
        }
        &:hover {
          background-color: @grayLight;
          span {
            color: @grayDarkest;
          }
        }
      }
    }
  }
}

.photos {
  position: relative;
  margin: 20px;
}

.group {
  position: relative;
  display: block;
  padding: 20px;
  border-bottom: solid 1px @grayLight;
  .remove_group_button {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 20px; left: -15px;
    color: @gray;
  }
  .pic_grid {
    margin-top: 20px;
  }
}



/***** OLD STUFF *****/

.black{ color: black; }
.white{ color:white; }
.orange{ color: orange; }
.blue { color: blue; }
.red{ color: red; }
.green{ color: green; }
.yellow{ color: yellow; }

.modal-body{
  overflow: visible;
}

.brick.normal{
  width: 140px;
  height: 140px;
}

.brick.small{
  width: 80px;
  height: 80px;
}

.brick.large{
  width:300px;
  height:300px;
}

.brick.selected{
  width:300px;
  height: 300px;
}

.gridlyimage{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.gridly{
  position: relative;
}

.subgroup_gridly{
  margin-left: 50px;
}

.tag_icon {
  background-color: white;
}

.tag_icon .tag_image {
  font-size: 2em;
}

.tag_icon:focus .black {  color: black; }
.tag_icon:focus .orange { color: orange; }
.tag_icon:focus .blue {   color: blue; }
.tag_icon:focus .red {    color: red; }
.tag_icon:focus .green {  color: green; }
.tag_icon:focus .yellow { color: yellow; }

.tag_label{
  font-size: 1.5em;
  vertical-align: center;
  margin-left: 5px;
  margin-top: 5px;
  max-width: 100px;
  margin-bottom: 5px;
}

span.tag_label{
  max-width: 50px;
}

input.tag_label{
  border: 1px dashed @grayLight;
}

.add_tag_image{
  height: 25px;
}

.selected_image{
  border: 10px solid rgb(240,240,0);
}

.unselected_image{
  border:2px solid black;
}

.group_header{
  display: inline;
  font-size: 21px;
  border: 1px dashed @grayLight ;
  padding: 10px;
  margin-top: 10px;
  &:hover, &:focus {
    outline: 0;
  }
}

.subgroup_header{
  margin-left: 50px;
  font-size: 1.5em;
  border: 1px dashed @grayLight;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.group_header_remove{
  margin-bottom: 15px;
}

.subgroup_header_remove{
  margin-bottom: 10px;
}

.selected .thumb {
    border: 4px solid #3399FF;
}

#preview_overlay_container {
    position: fixed;
    margin-left: 50%;
    margin-right: 50%;
    top: 200px;
    z-index: 1000;
}

.tag_overlay {
    width:600px;
    height:600px;
    background-color:#CCC;    
}

#tag_overlay_container {
    position: fixed;
    margin-left: 50%;
    margin-right: 50%;
    top: 200px;
    z-index: 1000;
}

.group_overlay {
    width:600px;
    height:600px;
    background-color:#CCC;
}

#group_overlay_container {
    position: fixed;
    margin-left: 50%;
    margin-right: 50%;
    top: 200px;
    z-index: 1000;
}

.pic_grid {
    position: relative;
    width: 90%;
}

.pic {
    height: 140px;
    width: 140px;
    .glyphicon-star,
    .glyphicon-star-empty {
      position: absolute;
      top: 7px; left: 7px;
      font-size: 18px; 
      color: @white;
      &:hover {
        cursor: pointer;
      }
    }
    .glyphicon-star-empty {
      opacity: 0.4;
      transition: opacity 0.2s;
      &:hover {
        opacity: 1.0;
      }
   }
}

.pic_img {
    height: 140px;
    width: 140px;
}