.gridly{
  position: relative;
  width: 960px;
}

.brick.small{
  width: 140px;
  height: 140px;
  border:3px solid black;

}

.brick.large{
  width:300px;
  height:300px;
  background-color: blue;
  border:5px solid black;
}

.brick.selected{
  width:300px;
  height: 300px;
}

img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.white{
  color:white;
}