.brick.small{
  width: 140px;
  height: 140px;
  border:3px solid black;

}

.brick.large{
  width:300px;
  height:300px;
  background-color: blue;
  border:5px solid black;
}

.brick.selected{
  width:300px;
  height: 300px;
}

.gridlyimage{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.white{
  color:white;
}

#gridly_and_photo_div{
  padding-left: 30px;
}

#photo_div {
  margin-top: 80px;
  margin-bottom: 20px;
}

#tag_div{
  margin-top: 70px;
  margin-left: 1200px;
  background-color: rgb(72,72,72);
  text-align: right;
  height: 700px;
}