body{
  font-family: 'Poiret One'
}

.brick.normal{
  width: 140px;
  height: 140px;
}

.brick.small{
  width: 80px;
  height: 80px;
}

.brick.large{
  width:300px;
  height:300px;
}

.brick.selected{
  width:300px;
  height: 300px;
}

.gridlyimage{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.gridly{
  position: relative;
}


.subgroup_gridly{
  margin-left: 50px;
}

.subgroup_header{
  margin-left: 50px;
}

#gridly_and_photo_div{
  padding-left: 30px;
}

#search_div{
  margin-top: 70px;
  width: 1180px;
  background-color: rgba(72,72,72,0.5);
  z-index: 1000;
}

#txt_search{
  display: block;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 2em;
  height: 40px;
}

#photo_div {
  margin-top: 150px;
  margin-bottom: 20px;
}

#tag_div{
  margin-top: 73px;
  margin-left: 1185px;
  background-color: rgb(72,72,72);
  text-align: right;
  height: 700px;
}

#tag_div .background_div{
  background-color: white;
  border: 1px solid black;
}

#tag_div h1{
  font-weight: 200;
}

.tag_icon{
  background-color: white;
}

.tag_icon .tag_image{
  font-size: 2em;
}

.tag_icon:hover{
  background-color: rgb(240,240,240);
}

.tag_icon:focus .orange{
  color: orange;
}

.tag_icon:focus .blue {
  color: blue;
}

.tag_icon:focus .red{
  color: red;
}

.tag_icon:focus .green{
  color: green;
}

.tag_icon:focus .yellow{
  color: yellow;
}

.progress{
  height: 10px;
}

.progress .orange{
  background-color: orange;
}

.progress .blue{
  background-color: blue;
}

.progress .red{
  background-color: red;
}

.progress .green{
  background-color: green;
}

.progress .yellow{
  background-color: yellow;
}

.white_background{
  background-color: white;
}

.tag_label{
  font-size: 1.5em;
  vertical-align: center;
  margin-left: 5px;
  margin-top: 5px;
  max-width: 100px;
  margin-bottom: 5px;
}

span.tag_label{
  max-width: 50px;
}

input.tag_label{
  border: 1px dashed black;
}

.add_tag_image{
  height: 25px;
}

.selected_image{
  border: 10px solid rgb(240,240,0);
}

.unselected_image{
  border:2px solid black;
}