/* app css stylesheet */

.app_title_header{
  display: inline; font-size:3.5em; color: white; margin-top:10px; margin-left:5px;
}

#navbar{
  background-color: rgb(72,72,72);
}

.gray_button{
  background-color: rgb(100,100,100);
  width: 75px;
}

.gray_button span{
  display: block;
  padding-top: 3px;
}

.gray_button:hover{
  background-color: black;
}

.gray_button:hover span, .btn:focus span{
  color: white;
}

.orange_button{
  background-color: orange;
  width: 75px;
  height: 60px;
  margin-right: 5px;
  margin-top: 5px;
}

.orange_button span{
  display: block;
  padding-top: 3px;
}

.orange_button:hover{
  background-color: black;
}

.orange_button:hover span, .btn:focus span{
  color: white;
}

.black{
  color: black;
}

.white{
  color:white;
}

.orange{
  color: orange;
}

.blue {
  color: blue;
}

.red{
  color: red;
}

.green{
  color: green;
}

.yellow{
  color: yellow;
}

#body{
  font-family: 'Poiret One'
}

#btnDeselectAll{
  margin-top: 10px;
  font-size: 1.5em;
  background-color: rgb(240,240,240);
}

.num_selected{
  display: inline; font-size:2.5em; color: white; margin-top:10px; margin-left:20px; margin-right: 10px;
}

.modal-body{
  overflow: visible;
}

.brick.normal{
  width: 140px;
  height: 140px;
}

.brick.small{
  width: 80px;
  height: 80px;
}

.brick.large{
  width:300px;
  height:300px;
}

.brick.selected{
  width:300px;
  height: 300px;
}

.gridlyimage{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.gridly{
  position: relative;
}


.subgroup_gridly{
  margin-left: 50px;
}


#gridly_and_photo_div{
  padding-left: 30px;
}



#txt_search{
  display: block;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
  font-size: 2em;
  height: 40px;
}

#photo_div {
  margin-top: 150px;
  margin-bottom: 20px;
}

#tag_div{
  margin-top: 73px;
  margin-left: 1185px;
  background-color: rgb(72,72,72);
  text-align: right;
  height: 700px;
}

#tag_div .background_div{
  background-color: white;
  border: 1px solid black;
}

#tag_div h1{
  font-weight: 200;
}

.tag_icon{
  background-color: white;
}

.tag_icon .tag_image{
  font-size: 2em;
}

.tag_icon:hover{
  background-color: rgb(240,240,240);
}

.tag_icon:focus .black{
  color: black;
}

.tag_icon:focus .orange{
  color: orange;
}

.tag_icon:focus .blue {
  color: blue;
}

.tag_icon:focus .red{
  color: red;
}

.tag_icon:focus .green{
  color: green;
}

.tag_icon:focus .yellow{
  color: yellow;
}

.progress{
  height: 10px;
}

.progress .black{
  background-color: black;
}

.progress .orange{
  background-color: orange;
}

.progress .blue{
  background-color: blue;
}

.progress .red{
  background-color: red;
}

.progress .green{
  background-color: green;
}

.progress .yellow{
  background-color: yellow;
}

.white_background{
  background-color: white;
}

.tag_label{
  font-size: 1.5em;
  vertical-align: center;
  margin-left: 5px;
  margin-top: 5px;
  max-width: 100px;
  margin-bottom: 5px;
}

span.tag_label{
  max-width: 50px;
}

input.tag_label{
  border: 1px dashed black;
}

.add_tag_image{
  height: 25px;
}

.selected_image{
  border: 10px solid rgb(240,240,0);
}

.unselected_image{
  border:2px solid black;
}

.group_header{
  display: inline;
  font-size: 2.5em;
  border: 1px dashed black;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.subgroup_header{
  margin-left: 50px;
  font-size: 1.5em;
  border: 1px dashed black;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.group_header_remove{
  margin-bottom: 15px;
}

.subgroup_header_remove{
  margin-bottom: 10px;
}