<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>PicPik</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" type="text/css" href="../bower_components/gridly/stylesheets/jquery.gridly.css">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap/dist/css/bootstrap.css">
</head>
<body id="picpicapp" class="body">

  <div class="globalnav">
    <a href="#"><img src="./assets/icons/pic_pik_logo.png"></a>
    <div class="masthead">PicPik</div>
  </div>

  <div class="tags-panel-container" id="tag_div"></div>

  <div class="main-panel">

    <div id="actionbar_container" class="actionbar_container"></div>
    <div id="filter_container"></div>

    <div class="photos">
      <div id="group_container"></div>
      <button id="add-group" style="z-index:1">Add Group</button>
      <!-- <div class="brick normal" ng-repeat="pic in pics | filter:search_query" data-ng-init="init()" ng-click="on_pic_click(pic)" my-post-repeat-directive>
        <img ng-src="{{pic.src}}" class="gridlyimage {{pic.selected_class}}"/>
      </div> -->
    </div>
      
    <div id="preview_overlay_container"></div>
    <div id="tag_overlay_container"></div>
    <div id="group_overlay_container"></div>

    <div class="modal fade" id="tag_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div>

  <a id="load-demo" href="javascript:;">Load Demo Data</a>

  <!-- Start the app -->
  <script data-main="js/main" src="js/lib/require.js"></script>

</body>
</html>