<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>PicPik</title>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" type="text/css" href="../bower_components/gridly/stylesheets/jquery.gridly.css">
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body id="picpicapp" class="body">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
      <div class="container-fluid" >
        <div class="navbar-header navbar-left">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#"><img src="../assets/icons/pic_pik_logo.png"></a>
        </div>
          
      <div id="navBarContainer"></div>
      </div>
    </div>

  <div>
    <div class="container-fluid" id="gridly_and_photo_div">
    <div class="row">
        <div id="actionbar_container" class="affix">
        </div>
      <div class="col-md-10" id="photo_div">
      <div id="search_div">
        <input type="search" class="form-control " placeholder="Search..." id="txt_search" ng-model="search_query" > 
      </div>
    <button id="add-group" style="z-index:1">Add Group</button>
        <div id="group_container">
        </div>
        
          <!-- <div class="brick normal" ng-repeat="pic in pics | filter:search_query" data-ng-init="init()" ng-click="on_pic_click(pic)" my-post-repeat-directive>
            <img ng-src="{{pic.src}}" class="gridlyimage {{pic.selected_class}}"/>
          </div> -->
      </div>
      <div class="col-md-2 affix container-fluid" id="tag_div">
      </div>
    </div>
</div>

<div class="modal fade" id="tag_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  </div>
    <!-- Start the app -->
    <script data-main="js/main" src="js/lib/require.js"></script>
</body>
</html>